<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Справочники
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>

    <main>
        <div class="cards">
            <!--    Подключаем card-cities-->
            <div th:replace="card-cities :: card-cities"></div>

            <!--    Подключаем card-employees-->
            <div th:replace="card-employees :: card-employees"></div>

            <!--    Подключаем card-vacancies-->
            <div th:replace="card-vacancies :: card-vacancies"></div>

            <!--    Подключаем card-vacancies-->
            <div th:replace="card-users :: card-users"></div>

            <!--    Подключаем card-casses-->
            <div th:replace="card-casses :: card-casses"></div>

            <!--    Подключаем card-partners-->
            <div th:replace="card-partners :: card-partners"></div>

            <!--    Подключаем card-partners-->
            <div th:replace="card-statuses :: card-statuses"></div>

            <!--    Подключаем card-partners-->
            <div th:replace="card-contracts :: card-contracts"></div>

            <!--    Подключаем card-cafeterias-->
            <div th:replace="card-cafaterias :: card-cafeterias"></div>

            <!--    Подключаем card-dishes-->
            <div th:replace="card-dishes :: card-dishes"></div>

            <!--    Подключаем card-dishCategories-->
            <div th:replace="card-dishCategories :: card-dishCategories"></div>

            <!--    Подключаем card-priceCategories-->
            <div th:replace="card-priceCategories :: card-priceCategories"></div>

            <!--    Подключаем card-priceCategories-->
            <div th:replace="card-menuLists :: card-menuLists"></div>

            <!--    Подключаем card-menu-->
            <div th:replace="card-menu :: card-menu"></div>

            <!--    Подключаем card-cafeteriaAndMenu-->
            <div th:replace="card-cafeteriaAndMenu :: card-cafeteriaAndMenu"></div>

            <!--    Подключаем card-orderStatus-->
            <div th:replace="card-orderStatuses :: card-orderStatuses"></div>

            <!--    Подключаем card-orders-->
            <div th:replace="card-orders :: card-orders"></div>

            <!--    Подключаем card-emails-->
            <div th:replace="card-emails :: card-emails"></div>

            <!--    Подключаем card-phoneNumberInCabinet-->
            <div th:replace="card-phoneNumberInCabinet :: card-phoneNumberInCabinet"></div>


        </div>
    </main>

</div>
</body>
</html>
