<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Сотрудники
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Поиск"/>
        </div>
        <div class="user-wrapper">
            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt=""/>
            <div>
                <h4>
                    Максим Якушев
                </h4>
                <small>Super admin</small>
            </div>
        </div>
    </header>
    <main>
        <div class="recent-grid" style="margin-top: 0; grid-template-columns: 100% auto">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Список сотрудников</h3>
                        <button onclick="window.location.href = 'addNewEmployee'">Добавить</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td>Фамилия</td>
                                    <td>Имя</td>
                                    <td>Отчество</td>
                                    <td>Должность</td>
                                    <td>Отдел</td>
                                    <td>Город</td>
                                    <td>Телефон газовый</td>
                                    <td>Телефон сотовый</td>
                                    <td>e-mail</td>
                                    <td></td>
                                    <td>Операции</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${allEmps}">
                                    <td th:utext="${employee.surname}"></td>
                                    <td th:utext="${employee.name}"></td>
                                    <td th:utext="${employee.patronymic}"></td>
                                    <td th:utext="${employee.position}"></td>
                                    <td th:utext="${employee.department}"></td>
                                    <td th:utext="${employee.city.city}"></td>
                                    <td th:utext="${employee.phoneGaz}"></td>
                                    <td th:utext="${employee.phoneMobile}"></td>
                                    <td th:utext="${employee.email}"></td>
                                    <td><span class="status purple"/><a
                                            th:href="@{'/updateEmployee'+'?empId='+${employee.id}}">Изменить</a></td>
                                    <td><span class="status orange"/><a
                                            th:href="@{'/deleteEmployee'+'?empId='+${employee.id}}">Удалить</a></td>
                                </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
