<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/materialize.css}"/>

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>all vacancies</h1>
<ul>
    <li>
        <a href="/">главная</a>
    </li>
</ul>
<br>
<div class="container">
    <table class="highlight">
        <tr>
            <th>Название вакансии</th>
            <th>Описание</th>
            <th>Требования</th>
            <th>Условия</th>
            <th>Контакты</th>
        </tr>
        <tr th:each="vacancy : ${allVacancies}">
            <td th:utext="${vacancy.vacancy}"></td>
            <td th:utext="${vacancy.description}"></td>
            <td th:utext="${vacancy.requirements}"></td>
            <td th:utext="${vacancy.conditions}"></td>
            <td th:utext="${vacancy.contacts}"></td>
        </tr>

    </table>
</div>
<br>
<input class="waves-effect waves-light btn-small" type="button" value="добавить"
       onclick="window.location.href = 'addNewVacancy'">
</body>
</html>

