<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/navbar.css}"/>

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<body>

<div class="wrapper">
    <!--    Подключаем sidebar-->
    <div th:replace="sidebar :: sidebar"></div>

    <div class="main_content">
        <div class="header">Вакансии</div>
        <div class="info">
            <div class="container">
                <table class="highlight">
                    <tr>
                        <th>Название вакансии</th>
                        <th>Описание</th>
                        <th>Требования</th>
                        <th>Условия</th>
                        <th>Контакты</th>
                        <th>Операции</th>
                    </tr>
                    <tr th:each="vacancy : ${allVacancies}">
                        <td th:utext="${vacancy.vacancy}"></td>
                        <td th:utext="${vacancy.description}"></td>
                        <td th:utext="${vacancy.requirements}"></td>
                        <td th:utext="${vacancy.conditions}"></td>
                        <td th:utext="${vacancy.contacts}"></td>
                        <td><a th:href="@{'/updateVacancy'+'?vacancyId='+${vacancy.id}}">Изменить</a></td>
                        <td><a th:href="@{'/deleteVacancy'+'?vacancyId='+${vacancy.id}}">Удалить</a></td>
                    </tr>

                </table>
            </div>
            <br>
            <input class="waves-effect waves-light btn-small" type="button" value="добавить"
                   onclick="window.location.href = 'addNewVacancy'">
        </div>
    </div>
</div>
</body>
</html>

