<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Самобранка "Сервис обработки актов реализации из 1С Рарус"
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div class="recent-grid" style="margin-top: 0; grid-template-columns: 100% auto">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Меню</h3>
                        <button onclick="window.location.href = 'checkAkt'">Обработать Акты</button>

                    </div>
                </div>
                <p>Необходимо в папку на диске C:/demo/ переместить необходимые для обработки акты</p>
                <p>Далее нажать на кнопку "Обработать Акты"</p>
                <p>После этого будут обработаны все акты, находящиеся в папке С:/demo и в столбик "цены" будет проставлена стоимость указанная в рецептуре</p>
            </div>
        </div>
    </main>
</div>
</body>
<script th:src="@{/js/all-cassa.js}"></script>
</html>

