<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Все договора
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div class="recent-grid" style="margin-top: 0; grid-template-columns: 100% auto">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Список договоров</h3>
                        <button onclick="window.location.href = 'addNewContract'">Добавить</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td>Название договора</td>
                                    <td>Номер договора</td>
                                    <td>Дата договора</td>
                                    <td>Контрагент</td>
                                    <td>Статус</td>
                                    <td colspan="2">Операции</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="contract : ${allContracts}">
                                    <td th:utext="${contract.contractName}"></td>
                                    <td th:utext="${contract.contractNumber}"></td>
                                    <td th:utext="${contract.contractData}"></td>
                                    <td th:utext="${contract.partner.partnerName}"></td>
                                    <td th:utext="${contract.status.statusName}"></td>
                                    <td><a th:href="@{'/updateContract'+'?contractId='+${contract.id}}">Изменить</a></td>
                                    <td><a th:href="@{'/deleteContract'+'?contractId='+${contract.id}}">Удалить</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>

