<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Заказы в столовых
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div class="recent-grid" style="margin-top: 0; grid-template-columns: 100% auto">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Список заказов</h3>
                        <button onclick="window.location.href = 'addNewOrdersList'">Добавить</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table width="100%">
                                <thead>
                                <tr>
                                    <td>Номер заказа</td>
                                    <td>Покупатель</td>
                                    <td>Телефон</td>
                                    <td>Сумма заказа</td>
                                    <td>Статус заказа</td>
                                    <td>Дата поступления заказа</td>
                                    <td>Дата подтверждения заказа</td>
                                    <td>Дата выполнения заказа</td>
                                    <td>Изменить статус</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${allOrders}">
                                    <td ><a th:utext="${order.id}" th:href="@{'/registersOrders/'+${order.id}}"></a></td>
                                    <td th:utext="${order.user}"></td>
                                    <td th:utext="${order.phoneNumber}"></td>
                                    <td th:utext="${order.ordersSum}"></td>
                                    <td th:utext="${order.orderStatus.name}"></td>
<!--                                    <td th:utext="${order.orderData}"></td>-->
                                    <td th:text="${#temporals.format(order.orderData,'dd-MM-yyyy hh:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(order.confirmedData,'dd-MM-yyyy hh:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(order.executeData,'dd-MM-yyyy hh:mm:ss')}"></td>

                                    <td><a th:href="@{'/updateOrdersList'+'?ordersListId='+${order.id}}">Изменить статус</a></td>
<!--                                    <td><a th:href="@{'/deleteCity'+'?cityId='+${city.id}}">Удалить</a></td>-->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</body>
</html>
