<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о столовой
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>

    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updateCafeteria'}">
                <h1>Редактирование столовой</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewCafeteria'}">
                <h1>Создание столовой</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/saveCafeteria}" th:object="${cafeteria}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>
                    <tr>
                        <td>Название столовой</td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Время доставка (мин)</td>
                        <td><input type="number" min="0" step="1" th:field="*{timeOfDelivery}"></td>
                    </tr>
                    <tr>
                        <td>Рейтинг(Звезды)</td>
                        <td><input type="number" min="0" max="5" step="0.1"th:field="*{stars}"></td>
                    </tr>
                    <tr>
                        <td>Цена от</td>
                        <td><input type="number" min="0" step="1"th:field="*{price}"></td>
                    </tr>
                    <tr>
                        <td>Кухня</td>
                        <td><input type="text" th:field="*{kitchen}"></td>
                    </tr>
                    <tr>
                        <td>Фотография</td>
                        <td><input type="text" th:field="*{image}"></td>
                    </tr>
                    <tr>
                        <td>Продукция</td>
                        <td><input type="text" th:field="*{products}"></td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td><input type="text" th:field="*{address}"></td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td><input type="text" th:field="*{phone}"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td><input type="text" th:field="*{email}"></td>
                    </tr>
                    <tr>
                        <td>Заведующий столовой</td>
                        <td><input type="text" th:field="*{employee}"></td>
                    </tr>
                    <tr>
                        <td>anyDesk</td>
                        <td><input type="text" th:field="*{anyDesk}"></td>
                    </tr>
                    <tr>
                        <td>amyAdmin</td>
                        <td><input type="text" th:field="*{amyAdmin}"></td>
                    </tr>
                    <tr>
                        <td>Доступен для заказа?</td>
                        <td><input type="checkbox" name="active" th:checked="${cafeteria.active}"/></td>
                    </tr>



                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
