<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>city form</title>
</head>
<body>
<div th:if="${city.id == null}">
    <h1>Добавить город</h1>
</div>
<div th:unless="${city.id == null}">
    <h1>Редактировать город</h1>
</div>
<div>
    <form th:action="@{/saveCity}" th:object="${city}" method="post">
        <table>
            <tr>
                <td><input type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Название города</td>
                <td><input type="text" th:field="*{city}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>