<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vacancy info</title>
</head>
<body>
<h1>Обновить информацию о городе</h1>
<div>
    <form action="#" th:action="@{/saveCity}" th:object="${city}" method="post">
        <table>
            <tr>
                <td><input type="hidden" th:field="*{id}" id="blogId" ></td>
            </tr>
            <tr>
                <td>Название города</td>
                <td><input type="text" th:field="*{city}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>