<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Рабочий стол
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Поиск"/>
        </div>
        <div class="user-wrapper">
            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt=""/>
            <div>
                <h4>
                    Максим Якушев
                </h4>
                <small>Super admin</small>
            </div>
        </div>
    </header>
    <main>
        <div class="cards">

            <!--    Подключаем card-employee-->
            <div th:replace="card-employees :: card-employees"></div>

            <!--    Подключаем card-casses-->
            <div th:replace="card-casses :: card-casses"></div>

            <!--    Подключаем card-orders-->
            <div th:replace="card-orders :: card-orders"></div>

            <!--    Подключаем card-users-->
            <div th:replace="card-users :: card-users"></div>

        </div>

        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Договора и оплаты</h3>
                        <button onclick="window.location.href = 'contracts'">Посмотреть все<span class="las la-arrow-right"></span></button>
                    </div>
                    <div class="card-body">
                        <!--    Подключаем table-contracts-->
                        <div th:replace="table-contracts :: table-contracts"></div>

                    </div>
                </div>

            </div>
            <div class="customers">
                <div class="card">
                    <div class="card-header">
                        <h3>Новые сотрудники</h3>
                        <button>Посмотреть все <span class="las la-arrow-right"></span></button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                    <div class="customer">
                        <div class="info">
                            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt="">
                            <div>
                                <h4>Lewis S. Cunningham</h4>
                                <small>CEO Expert</small>
                            </div>
                        </div>
                        <div class="contact">
                            <span class="las la-user-circle"></span>
                            <span class="las la-comment"></span>
                            <span class="las la-phone"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>