<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1>main page</h1>
<ul>
    <li>References</li>
    <li><a href="/employees">Сотрудники</a></li>
    <li><a href="/vacancies">Вакансии</a></li>
    <li><a href="/cities">Города</a></li>
</ul>
<ul>
    <li>API</li>
    <li><a href="/api/employees">api/employees</a></li>
    <li><a href="/api/vacancies">api/vacancies</a></li>
    <li><a href="/api/cities">api/cities</a></li>
</ul>
</body>
<script th:src="@{/js/test.js}"></script>
</html>