<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о меню
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updateMenu'}">
                <h1>Редактирование меню</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewMenu'}">
                <h1>Создание меню</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/saveMenu}" th:object="${menu}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>

                    <tr>
                        <td>Категория меню</td>
                        <td>
                            <select th:field="*{menuList.id}">
                                <th:block th:each="menuList: ${listMenuList}">
                                    <option th:text="${menuList.name}" th:value="${menuList.id}"/>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Блюдо</td>
                        <td>
                            <select th:field="*{dish.id}">
                                <th:block th:each="dish: ${listDishes}">
                                    <option th:text="${dish.name}" th:value="${dish.id}"/>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Цена</td>
                        <td><input type="number" min="0" step="0.01" th:field="*{price}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
