<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о блюде
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updateMenuList'}">
                <h1>Редактирование меню</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewMenuList'}">
                <h1>Создание меню</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/saveMenuList}" th:object="${menuList}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>
                    <tr>
                        <td>Название</td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td><input type="text" th:field="*{description}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Категория цен</td>
                        <td>
                            <select th:field="*{priceCategory.id}" th:disabled="${#httpServletRequest.getRequestURI() == '/detailsMenuList'}">
                                <th:block th:each="priceCategory: ${listPriceCategory}">
                                    <option th:text="${priceCategory.name}" th:value="${priceCategory.id}"/>
                                </th:block>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
