<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о заказе
        </h2>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Поиск"/>
        </div>
        <div class="user-wrapper">
            <img th:src="@{img/img-2.jpg}" width="40px" height="40px" alt=""/>
            <div>
                <h4>
                    Максим Якушев
                </h4>
                <small>Super admin</small>
            </div>
        </div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updateOrdersList'}">
                <h1>Редактирование заказа</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewOrdersList'}">
                <h1>Создание нового заказа</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/saveOrdersList}" th:object="${ordersList}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>
                    <tr>
                        <td>Сумма заказа</td>
                        <td><input type="number" min="0" step="0.01"th:field="*{ordersSum}"></td>
                    </tr>
                    <tr>
                        <td>Статус заказа</td>
                        <td>
                            <select th:field="*{orderStatus.id}">
                                <th:block th:each="status: ${OrderStatus}">
                                    <option th:text="${status.name}" th:value="${status.id}"/>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Дата заказа</td>
                        <td><input type="datetime-local" th:field="*{orderData}"></td>
                    </tr>

                    <tr>
                        <td>Дата подтверждения заказа</td>
                        <td><input type="datetime-local" th:field="*{confirmedData}"></td>
                    </tr>
                    <tr>
                        <td>Дата исполнения заказа</td>
                        <td><input type="datetime-local" th:field="*{executeData}"></td>
                    </tr>
                    <tr>
                        <td>Покупатель</td>
                        <td><input type="text" th:field="*{user}"></td>
                    </tr>
                    <tr>
                        <td>Телефон</td>
                        <td><input type="text" th:field="*{phoneNumber}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
