<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о статусе заказа
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updateCity'}">
                <h1>Редактирование статуса заказа</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewCity'}">
                <h1>Создание нового статуса заказа</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/saveOrderStatus}" th:object="${orderStatus}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>
                    <tr>
                        <td>Название статуса заказа</td>
                        <td><input type="text" th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
