<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о контрагенте
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updatePartner'}">
                <h1>Редактирование контрагента</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewPartner'}">
                <h1>Создание контрагента</h1>
            </td>
        </div>
        <div>
            <form th:action="@{/savePartner}" th:object="${partner}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}" id="blogId"></td>
                    </tr>
                    <tr>
                        <td>Контрагент</td>
                        <td><input type="text" th:field="*{partnerName}"></td>
                    </tr>
                    <tr>
                        <td>ИНН</td>
                        <td><input type="text" th:field="*{partnerInn}"></td>
                    </tr>
                    <tr>
                        <td>КПП</td>
                        <td><input type="text" th:field="*{partnerKpp}"></td>
                    </tr>
                    <tr>
                        <td>Адрес</td>
                        <td><input type="text" th:field="*{partnerAdress}"></td>
                    </tr>
                    <tr>
                        <td>Персональный менеджер</td>
                        <td><input type="text" th:field="*{personalManager}"></td>
                    </tr>
                    <tr>
                        <td>Сотовый</td>
                        <td><input type="text" th:field="*{managerMobilePhone}"></td>
                    </tr>
                    <tr>
                        <td>Городской</td>
                        <td><input type="text" th:field="*{mangerCityPhone}"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" th:field="*{managerEmail}"></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
