<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <title>Газпром питание</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

</head>
<body>
<input type="checkbox" id="nav-toggle">
<!--    Подключаем sidebar-->
<div th:replace="sidebar :: sidebar"></div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Информация о телефонах в кабинетах
        </h2>
        <!--    Подключаем user-wrapper-->
        <div th:replace="user-wrapper :: user-wrapper"></div>
    </header>
    <main>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/updatePhoneNumberInCabinet'}">
                <h1>Редактирование телефонов в кабинетах</h1>
            </td>
        </div>
        <div>
            <td th:if="${#httpServletRequest.getRequestURI() == '/addNewPhoneNumberInCabinet'}">
                <h1>Создание телефона в кабинете</h1>
            </td>
        </div>

        <div>
            <form th:action="@{/savePhoneNumberInCabinet}" th:object="${phoneNumberInCabinet}" method="post">
                <table>
                    <tr>
                        <td><input type="hidden" th:field="*{id}"></td>
                    </tr>
                    <tr>
                        <td>Кабинет</td>
                        <td><input type="text" th:field="*{cabinet}"></td>
                    </tr>
                    <tr>
                        <td>Розетка</td>
                        <td><input type="text" th:field="*{socket}"></td>
                    </tr>
                    <tr>
                        <td>Номер телефона</td>
                        <td><input type="text" th:field="*{phoneNumber}" ></td>
                    </tr>


                    <tr>
                        <td th:if="${#httpServletRequest.getRequestURI() == '/updatePhoneNumberInCabinet'} or ${#httpServletRequest.getRequestURI() == '/addNewPhoneNumberInCabinet'}">
                            <button type="submit">Сохранить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </main>
</div>
</body>
</html>
