<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-brand">
        <h2><span class="las la-fire"></span> <span>Газпром питание</span></h2>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/">
                    <span class="las la-igloo"></span>
                    <span>Рабочий стол</span>
                </a>
            </li>
            <li>
                <a href="/employees">
                    <span class="las la-users"></span>
                    <span>Сотрудники</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-clipboard-list"></span>
                    <span>Кассы</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-shopping-bag"></span>
                    <span>Заказы</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-receipt"></span>
                    <span>Инвентарь</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-user-circle"></span>
                    <span>Аккаунты</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="las la-clipboard-list"></span>
                    <span>Задачи</span>
                </a>
            </li>
        </ul>
    </div>
</div>
