<div class="sidebar" th:fragment="sidebar">
    <div>
        <img class="logo" src="img/logo.png" alt="logo"></a>
    </div>
    <ul>
        <li><a href="/"><i class="fas fa-home"></i>Главная</a></li>
        <li><a href="#"><i class="fas fa-project-diagram"></i>Кассовые узлы</a></li>
        <li><a href="/employees"><i class="fas fa-user"></i>Сотрудники</a></li>
        <li><a href="/vacancies"><i class="fas fa-address-card"></i>Вакансии</a></li>
        <li><a href="/cities"><i class="fas fa-home"></i>Города</a></li>
        <li><a href="/restapi"><i class="fas fa-project-diagram"></i>REST API</a></li>
    </ul>
</div>