<div class="sidebar" th:fragment="sidebar">
    <div class="sidebar-brand">
        <h2><span class="las la-fire"></span> <span>Газпром питание</span></h2>
    </div>
    <div class="sidebar-menu">

        <ul>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" th:href="@{/}">
                    <span class="las la-igloo"></span>
                    <span>Рабочий стол</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/employees' ? 'active':''}" th:href="@{/employees}">
                    <span class="las la-users"></span>
                    <span>Сотрудники</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/casses' ? 'active':''}" th:href="@{/casses}">
                    <span class="las la-clipboard-list"></span>
                    <span>Кассовые узлы</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/orders' ? 'active':''}" th:href="@{/orders}">
                    <span class="las la-shopping-bag"></span>
                    <span>Заказы в столовых</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/menu' ? 'active':''}" th:href="@{/menu}">
                    <span class="las la-receipt"></span>
                    <span>Меню</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/users' ? 'active':''}" th:href="@{/users}">
                    <span class="las la-user-circle"></span>
                    <span>Пользователи</span>
                </a>
            </li>
            <li>
                <a  th:classappend="${#httpServletRequest.getRequestURI() == '/restapi' ? 'active':''}" th:href="@{/restapi}">
                    <span class="las la-clipboard-list"></span>
                    <span>REST API</span>
                </a>
            </li>
            <li>
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/directories' ? 'active':''}" th:href="@{/directories}">
                    <span class="las la-clipboard-list"></span>
                    <span>Справочники</span>
                </a>
            </li>
        </ul>
    </div>
</div>
