<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vacancy form</title>
</head>
<body>
<div th:if="${vacancy.id == 0}">
    <h1>Добавить новую вакансию</h1>
</div>
<div th:unless="${vacancy.id == 0}">
    <h1>Редактировать вакансию</h1>
</div>
<div>
    <form th:action="@{/saveVacancy}" th:object="${vacancy}" method="post">
        <table>
            <tr>
                <td><input type="hidden" th:field="*{id}"></td>
            </tr>
            <tr>
                <td>Название вакансии</td>
                <td><input type="text" th:field="*{vacancy}"></td>
            </tr>
            <tr>
                <td>Описание</td>
                <td><input type="text" th:field="*{description}"></td>
            </tr>
            <tr>
                <td>Требования</td>
                <td><input type="text" th:field="*{requirements}"></td>
            </tr>
            <tr>
                <td>Условия</td>
                <td><input type="text" th:field="*{conditions}"></td>
            </tr>
            <tr>
                <td>Контакты</td>
                <td><input type="text" th:field="*{contacts}"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Сохранить</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>